/*
 * compact.css, version 1.1
 * Author:  Alex Efros <powerman@powerman.name>
 * Licence: Public Domain
 *
 * Usage: asciidoc -a theme=compact ...
 */

*   { padding: 0;  margin: 0; }
img { border: 0; }

/*** Layout ***/

body                        { margin: 10px 250px; }
#header br                  { display: none; }
#revision                   { display: block; }
#toc                        { margin: 1em 0; }
.toclevel2                  { margin-left: 1em; }
#footer                     { margin-top: 2em; }

#preamble .sectionbody,
h2,
h3,
h4,
h5                          { margin: 1em 0 0 0; }

.admonitionblock,
.listingblock,
.sidebarblock,
.exampleblock,
.tableblock, 
.literalblock               { margin: 1em 0; }
.admonitionblock td.icon    { padding-right: 0.5em; }
.admonitionblock td.content { padding-left:  0.5em; }
.listingblock .content      { padding: 0.5em; }
.sidebarblock > .content    { padding: 0.5em; }
.exampleblock > .content    { padding: 0 0.5em; }
.tableblock caption         { padding: 0 0 0.5em 0; }
.tableblock thead th,
.tableblock tbody td,
.tableblock tfoot td        { padding: 0 0.5em; }
.quoteblock                 { padding: 0 2.0em; }

.para                       { margin: 1em 0 0 0; }
.sidebarblock .para:first-child,
.exampleblock .para:first-child, 
.admonitionblock .para:first-child  { margin: 0; }

   .ilist,    .olist,    .vlist,    .hlist,    .qlist   { margin: 1em 0; }
li .ilist, li .olist, li .vlist, li .hlist, li .qlist,
dd .ilist, dd .olist, dd .vlist, dd .hlist, dd .qlist   { margin: 0; }
ul                          { margin-left: 1.5em; }
ol                          { margin-left: 2em; }
dd                          { margin-left: 3em; }
td.hlist1                   { padding-right: 1em; }

/*** Fonts ***/

body                        { font-family: Verdana, sans-serif; }
#header                     { font-family: Georgia, serif;      }
#header h1                  { font-family: Arial,   sans-serif; }
#footer                     { font-family: Georgia, serif;      }
#email                      { font-size: 0.85em; }
#revision                   { font-size: 0.75em; }
#toc                        { font-size: 0.9em;  }
#toctitle                   { font-weight: bold; }
#footer                     { font-size: 0.8em; }

h2, h3, h4, h5, .title      { font-family: Arial,   sans-serif; }
h2                          { font-size: 1.5em; }
.sectionbody                { font-size: 0.85em; }
h3                          { font-size: 159%; } /* 1.35em */
h4                          { font-size: 141%; } /* 1.2em */
h5                          { font-size: 118%; } /* 1em */
.title                      { font-size: 106%;   /* 0.9em */
                              font-weight: bold;
                            }

tt                          { font-size: 106%; } /* 0.9em */
dt, td.hlist1, .qlist em    { font-family: Times New Roman, serif;
                              font-size: 118%;   /* 1em */
                              font-style: italic;
                            }
.tableblock tfoot td        { font-weight: bold; }

/*** Colors and Backgrounds ***/

h1                          { color: #527bbd; padding-left:5px; margin-bottom:10px;}
#footer                     {                 border-top:    2px solid silver; }

h2                          { color: #527bbd; border-bottom: 2px solid silver; }
h3                          { color: #5D7EAE; border-bottom: 1px solid silver; }
h4,h5                       { color: #5D7EAE; }

.admonitionblock td.content { border-left: 2px solid silver; }
.listingblock .content      { background: #f4f4f4;   border: 1px solid silver; }
.sidebarblock > .content    { background: #ffffee;   border: 1px solid silver; }
.exampleblock > .content    {                   border-left: 2px solid silver; }
.tableblock table {
    border-collapse: collapse;
    border-width: 3px;
    border-color: #527bbd;
}
.tableblock table[frame=hsides] { border-style: solid none; }
.tableblock table[frame=border] { border-style: solid;      }
.tableblock table[frame=void]   { border-style: none;       }
.tableblock table[frame=vsides] { border-style: none solid; }
.tableblock table[rules=all] tbody tr *,
.tableblock table[rules=rows] tbody tr * {
    border-top: 1px solid #527bbd;
}
.tableblock table[rules=all] tr *,
.tableblock table[rules=cols] tr * {
    border-left: 1px solid #527bbd;
}
.tableblock table tbody tr:first-child * {
    border-top: 1px solid white; /* none don't work here... %-[] */
}
.tableblock table tr *:first-child { 
    border-left: none;
}
.tableblock table[frame] thead tr *, 
.tableblock table[frame] thead tr * {
    border-top: 1px solid white; 
    border-bottom: 2px solid #527bbd;
}

tt                          { color: navy; }

/*** Misc ***/

.admonitionblock td.icon    { vertical-align: top; }
.attribution                { text-align: right; }

ul                          { list-style-type: disc; }
ul ul                       { list-style-type: circle; }
ul ul ul                    { list-style-type: square; }
.olist ol                   { list-style-type: decimal; }
.olist2 ol                  { list-style-type: lower-alpha; }
.hlist td                   { vertical-align: top; }

