export(ascii)
export(asciiCbind)
export(Asciidoc)
export(asciiList)
export(asciiMixed)
export(asciiTable)
export(cacheSweaveAsciidoc)
export(cacheSweaveOrg)
export(cacheSweavePandoc)
export(cacheSweaveReST)
export(cacheSweaveT2t)
export(cacheSweaveTextile)
export(cbind.ascii)
export(convert)
export(createreport)
export(expand)
export(fig)
export(interleave)
export(interleave.data.frame)
export(interleave.matrix)
exportMethods(print)
exportMethods(show)
export(Org)
export(out)
export(Pandoc)
export(paragraph)
export(paste.matrix)
export(plim)
export(Report)
export(ReST)
export(RtangleAscii)
export(RweaveAsciidoc)
export(RweaveOrg)
export(RweavePandoc)
export(RweaveReST)
export(RweaveT2t)
export(RweaveTextile)
export(section)
export(sexpr)
export(T2t)
export(Textile)
export(tocharac)
export(verbatim)
export(weaverAsciidoc)
export(weaverOrg)
export(weaverPandoc)
export(weaverReST)
export(weaverT2t)
export(weaverTextile)
import(utils)
S3method(ascii,anova)
S3method(ascii,aov)
S3method(ascii,aovlist)
S3method(ascii,cast_df)
S3method(ascii,character)
S3method(ascii,coxph)
S3method(ascii,CrossTable)
S3method(ascii,data.frame)
S3method(ascii,default)
S3method(ascii,density)
S3method(ascii,describe)
S3method(ascii,describe.single)
S3method(ascii,factor)
S3method(ascii,freqtable)
S3method(ascii,ftable)
S3method(ascii,glm)
S3method(ascii,htest)
S3method(ascii,integer)
S3method(ascii,list)
S3method(ascii,lm)
S3method(ascii,matrix)
S3method(ascii,meanscomp)
S3method(ascii,mtable)
S3method(ascii,numeric)
S3method(ascii,packageDescription)
S3method(ascii,prcomp)
S3method(ascii,sessionInfo)
S3method(ascii,simple.list)
S3method(ascii,smooth.spline)
S3method(ascii,stat.table)
S3method(ascii,summary.aov)
S3method(ascii,summary.aovlist)
S3method(ascii,summary.glm)
S3method(ascii,summary.lm)
S3method(ascii,summary.prcomp)
S3method(ascii,summary.survfit)
S3method(ascii,summary.table)
S3method(ascii,survdiff)
S3method(ascii,survfit)
S3method(ascii,table)
S3method(ascii,ts)
S3method(ascii,zoo)
S3method(print,fig)
S3method(print,out)
S3method(print,paragraph)
S3method(print,section)
S3method(print,sexpr)
S3method(print,verbatim)
