export(ascii.anova)
export(ascii.aov)
export(ascii.summary.aov)
export(ascii.aovlist)
export(ascii.summary.aovlist)
export(ascii.data.frame)
export(ascii.cast_df)
export(ascii.default)
export(ascii.density)
export(ascii.meanscomp)
export(ascii.CrossTable)
export(ascii.freqtable)
export(ascii.stat.table)
export(ascii.glm)
export(ascii.summary.glm)
export(ascii.describe.single)
export(ascii.describe)
export(ascii.htest)
export(ascii.list)
export(ascii.simple.list)
export(ascii.packageDescription)
export(ascii.sessionInfo)
export(ascii.lm)
export(ascii.summary.lm)
export(ascii.matrix)
export(ascii.prcomp)
export(ascii.summary.prcomp)
export(ascii.smooth.spline)
export(ascii.summary.table)
export(ascii.survdiff)
export(ascii.survfit)
export(ascii.summary.survfit)
export(ascii.coxph)
export(ascii.table)
export(ascii.ftable)
export(ascii.ts)
export(ascii.zoo)
export(ascii.integer)
export(ascii.numeric)
export(ascii.character)
export(ascii.factor)
export(rbind.ascii)
export(cbind.ascii)
export(cacheSweaveAsciidoc)
export(cacheSweaveT2t)
export(cacheSweaveOrg)
export(cacheSweavePandoc)
export(cacheSweaveTextile)
export(cacheSweaveReST)
export(convert)
export(section)
export(print.section)
export(paragraph)
export(print.paragraph)
export(verbatim)
export(print.verbatim)
export(sexpr)
export(print.sexpr)
export(out)
export(print.out)
export(fig)
export(print.fig)
export(export)
export(print.Report)
export(print.ReportClass)
export(ascii)
export(print.ascii)
export(RweaveAsciidoc)
export(RweaveT2t)
export(RweaveOrg)
export(RweavePandoc)
export(RweaveTextile)
export(RweaveReST)
export(Asciidoc)
import(utils)
export(T2t)
export(ReST)
export(Org)
export(Textile)
export(Pandoc)
export(weaverAsciidoc)
export(weaverT2t)
export(weaverOrg)
export(weaverPandoc)
export(weaverTextile)
export(weaverReST)
export(Report)
